/*
  Name: Labby
  Author: Mphatso Simbao
*/

@import url('https://fonts.googleapis.com/css?family=Lilita+One|Poppins&display=swap');

body {

  padding:15%;
  padding-top:-20%;
  color:white;
  background:#FF3501;
  font-family: 'Lilita One', cursive;
}

h4, p, h3 {
  /* mix-blend-mode: difference; */
  color:#EDF5e1
}

h4, h3 {
  font-size:60px;
  text-decoration:bold;
  font-family: 'Lilita One', cursive;

}

h5 {
  position:relative;
  margin:auto;
  text-decoration:bold;
  font-family: 'Lilita One', cursive;
}

p{
  font-size:20px;
  width:100%;
  font-family: 'Poppins', sans-serif;
   
}

text{
  font-family: 'Lilita One', cursive;
}

/*--------------------------------------------------------------
# Splash Screen
--------------------------------------------------------------*/

#load {
background:#FF3501;
position:absolute;
bottom:0;
z-index:500;
width:100%;
height:100%;
text-align:center;
margin:auto;
-webkit-animation: disappear 0s forwards ;
animation: disappear 0s forwards ;
vertical-align: middle;
text-align: center;
padding:10%;
}

/* Safari */
@-webkit-keyframes disappear {
0% { -webkit-opacity: 1; height:100%; bottom:0; z-index:500;}
 90% { -webkit-opacity:1;  height:100%; bottom:0; z-index:500}
99.999% { -webkit-opacity: 1; height:100%%; bottom:-100%;z-index:500}
100% { -webkit-opacity: 1; height:100%%; bottom:-100%;z-index:-10}
}

@keyframes disappear {
0% { opacity: 1; height:100%; bottom:0; z-index:500;}
 90% {opacity:1; height:100%; bottom:0; z-index:500;}
99.999% {opacity: 1;  height:100%; bottom:-100%; z-index:500}
100% {opacity: 1;  height:100%; bottom:-100%; z-index:-10}
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

.section{
  padding:5%;
  overflow:hidden;
}

.colorTheme{
  color:#00AEE0;
  color:#FF3501;
  color:#00333F;
  color:#FCB900;
  color:#F7FCFF;
  color:#FE3808;
  color:#002C53;
}


.modals{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  padding:5%;
  z-index:20;
}

.card{
background:#002C53;
width:80%;
height:60%;
top:10%;
vertical-align:middle;
padding:5%;
position:absolute;
margin:auto;
opacity:0;
border:10px dashed #F7FCFF;
box-shadow: 15px 20px 4px rgba(0, 0, 0, .5);

}

.card div{
  margin-top:3%;
}

.texts{
  padding:10%;
}

.texts a{
}


/*--------------------------------------------------------------
# Blob Control
--------------------------------------------------------------*/
svg {
  width: 100%;

}

.filled-heading {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5em;
  line-height: 0.9;
}

#background path {
  animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#textClip text {
  display: none;
}
#textClip text:nth-of-type(n + 1):nth-of-type(-n + 3) {
  display: inline;
}

@keyframes pulse {
  0%, 100% { transform: scale(0) rotate(33deg); }
  35%, 65% { transform: scale(1) rotate(0deg); }
}

.intro-img {
  width: 100%;
  float: none;
  margin: 0 auto 25px auto;
}

.container{
  position:absolute;
  left:5%;
  bottom:10%;
  width:100%;
  margin:0;

}




/*--------------------------------------------------------------
# Listening Icon
--------------------------------------------------------------*/

#listen{
  position:relative;
  margin-left:-300px;
  height:100px;
}

.box {
	position:relative;
  margin-top:100px;
}

.object {
  display: flex;
	flex: 0 1 100%;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.outline {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 8px solid #B5A4A4;
  animation: pulse 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	position: absolute;
}

.button {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #50CDDD;
	box-shadow: 0px 0px 80px #0084F9;
	position: absolute;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
		border: 65px solid #0B3082;
  }
  50% {
		border: solid #A3FFC2;
		opacity: 0.8;
  }

	 90% {
    transform: scale(3.2);
		opacity: 0.2;
		border: 3px solid #2E3CFF;
  }
  100% {
    transform: scale(3.3);
		opacity: 0;
		border: 1px solid #7A89FF;
  }
}

#delayed {
	animation-delay: 1.5s;
}

#circlein {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #6BD6E1;
	box-shadow: 0px -2px 15px #E0FF94;
	position: absolute;
}

.mic-icon {
	height: 60px;
	position: absolute;
	margin-top: 20px;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/


  .navbar {
    z-index:10;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  transition:2s;
}

.navbar a h4{
  color:#002C53;
}

.navbar a {
  float: left;
  display: block;
  color: #002C53;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: black;
}

/*--------------------------------------------------------------
# Inventory
--------------------------------------------------------------*/

h1{
  margin-top:200px;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 70%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-top: 12px; /* Add some space below the input */
  border-radius:50px;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  position:relative;
}


li a {
    color:transparent;
    font-size:0;
}


.dbitem{
  background:none;
  border:none;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  border-radius: 20px;
  border:5px dashed white;

}

.dbitem:hover {
  box-shadow: 0 22px 46px 0 rgba(0,0,0,0.5);
}


.col-md-4{
  float:left;
  width:vheight;
  height:150px;
  
/*   border:none; */
}




.card-body{
  background:#FCB900;
  border:none;
  color:#00333F;
  border-radius:20px;
  padding:10%;
  vertical-align:center;
  text-align:center;
    
}

.crafts{
  background:#FCB900;
}

.tech{
  background:#002C53;
  color:white;
}

.software{
  background:#00AEE0;
}

.card-text{
  font-size:70px;
  vertical-align:center;
}
